<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 3</title>
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    />
    <script
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
      integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
      crossorigin="anonymous"
    ></script>
  </head> 
    <footer class=" text-center text-lg-start text-muted  " id="footer">
            <!-- Section: Social media -->
            <section class="p-4 border-bottom">

              <!-- top -->
              <div class="footer-fs p-4 text-end ">
                <a href="#title" class="me-4 text-reset">
                  <span class="text-white mx-5">MAIN</span>
                </a>
                <a href="#about" class="me-4 text-reset">
                  <span class="text-white mx-5">ABOUT</span>
                </a>
                <a href="#game-features" class="me-4 text-reset">
                  <span class="text-white mx-5">GAME FEATURES</span>
                </a>
                <a href="#system-req" class="me-4 text-reset">
                  <span class="text-white mx-5">SYSTEM REQUIREMENTS</span>
                </a>
                <a href="#quotes" class="me-4 text-reset">
                  <span class="text-white mx-5">QUOTES</span>
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/facebook.svg" class=" mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/twitter.svg" class="mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/vector.svg" class=" mx-5">
                </a>
                <a href="" class="me-4 text-reset">
                  <img src="assets/twitch.svg" class=" mx-5">
                </a>
              </div>
            </section>

            <!-- bottom  -->
            <section>
              <div class=" d-lg-flex justify-content-between p-3 align-content-center ">
                <div class="text-secondary">
                  <span></span>
                  <p>2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="text-white fw-bold p1">
                  <a href="#" class="text-reset text-decoration-none">PRIVACY POLICY | </a>
                  <a href="#" class="text-reset text-decoration-none">TERMS OF SERVICES | </a>
                  <a href="#" class="text-reset text-decoration-none">CODE OF CONDUCT</a>
                </div>
                <!-- <p class="text-white fw-bold p1">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p> -->
                
              </div>
            </section>
            <!-- Section: Links  -->
          </footer>
        </div>
</html>