body {
  margin: 0;
  padding: 0;

  background-color: aliceblue !important;
}

tr, td{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px !important;
}

.bg-nav{
  background-color: azure;
}

.br-nav{
  border-bottom: 3px solid black;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: BOLD !important;
  font-size: 36px !important;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px !important;

}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button{
  border: none;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  height: 100vh;
  background-color : darkslategray;
  padding: 20px;
  color: white;
}

.nav-item a{
  font-family: 'Courier New', Courier, monospace ;
  font-size: 25px;
  margin: 20px;
}
.main-content {
  padding: 20px;
}