body{
  background-color:aliceblue;
}

.form-control{
  font-size: 14px;
}

.pin-input{
  border-radius: 5px;
  height: 3rem;
  text-align: center;
  font-size: 3rem;
}

.loginbox{
  background-color: black;
}